button {
    margin-bottom: 20px;
}

p {
    font-family: cursive, sans-serif;
}

h1 {
    font-weight: 800;
    font-size: 80px;
}

.background {
    min-height: 400px;
    min-width: 750px;
    background: url('../img/Red\ and\ Yellow\ Modern\ Fast\ Food\ Menu.png') no-repeat -300px -100px;
    text-align: center;
}

.mobile {
    margin-bottom: 50px;
}

.mobile-1 {
    height: auto;
    max-width: 300px;
}

.first {
    margin-top: 100px;
}
.last {
    margin-top: 100px;
}

.btn-large {
    margin-bottom: 10%;
}
h2 {
    text-decoration: underline;
    margin-bottom: 50px;
}

.bold {
    font-weight: 800;
    padding-top: 25px;
    padding-bottom: 10px;
}

.card-image img {
    margin: 20px auto;
}

.last {
    margin-bottom: 50px;
}

.small {
    font-size: 15px;
}

.last {
    display: grid;
    grid-template-columns: repeat(2,2);
}

.media {
    padding-top: 50px;
}
