button {
    margin-bottom: 20px;
}

p {
    font-family: cursive, sans-serif;
}

nav ul li a {
    font-size: 20px;
}

h1 {
    font-weight: 800;
    font-size: 80px;
}

.brand-logo {
    margin-left: 20px;
}

.mobile {
    margin-bottom: 50px;
}

.first {
    margin-top: 100px;
}

.coming-soon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.coming-soon img {
    padding: 10px 20px;
    padding-bottom: 30px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.menu .child {
    margin: 10px;
}

.last {
    margin-top: 100px;
}

.btn-large {
    margin-bottom: 10%;
}
h2 {
    text-decoration: underline;
    margin-bottom: 50px;
}

.bold {
    font-weight: 800;
    padding-top: 25px;
    padding-bottom: 10px;
}

.last {
    margin-bottom: 50px;
}

.small {
    font-size: 15px;
}

.media {
    padding-top: 50px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .child p {
        margin-bottom: 20px;
    }
}